/* QandA.css */

/* Estilo para el título de la página */
h1 {
    font-family: 'Cairo';
    margin-bottom: 60px;
  }
  
  /* Estilo para las categorías */
h4 {
    margin-bottom: 20px;
    padding-left: 20px;
    
}

